* {
    padding: 7px;
    /* box-sizing: border-box; */
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: black;
}

.wrapper {
    width: 90%;
    height: 90%;
    background-color: black;
    border: 3px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    color: blue;
    font-size: 45px;
    text-align: center;
    
}

.input-box {
    display: flex;
}

.input-box .col-50 {
    width: 100%;
    display: flex; /* Updated to flex */
    margin-right: 3%;
    margin-left: 3%;
    align-items: center; /* Added to center content vertically */
}

.input-box .col-50 label,
.input-box .col-50 input 
{
    width: 60%;
}

.input-box input {
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(249, 244, 244, 0.2);
    border-radius: 20px;
    font-size: 14px;
    color: aliceblue;
    padding: 20px 240px 20px 20px;
}

.input-box input:focus {
    border-color: rgb(203, 205, 254);
}

.input-box input::placeholder {
    color: #fff;
}

.wrapper .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 45px;
    margin: 0 auto; /* Center the button */
    background: rgba(36, 138, 107, 0.267);
    border: none;
    outline: none;
    border-radius: 25px;    
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.611);
    cursor: pointer;
    font-size: 18px;
    color: rgb(27,167,39);
    font-weight: 600;
    margin-top: 10px;
}


/* .wrapper .button:hover {
    background-color: #64d278;
} */

.wrapper .logout{
    display: flex;
    justify-content:space-between;
    align-items: right;
    font-family: 'Courier New', Courier, monospace; 
    margin-left: 25px;
    color: #fff;
  }

  .wrapper .logout a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
  }

  .wrapper .logout i{
    font-size: 25px;
  }